/* Variable color */
:root{
--head-color: $(head.color) ;
--body-color: $(body.color) ;
--body-altColor: $(body.colorAlt) ;
--body-bgColor: $(body.bgColor) ;
--link-color: $(link.color) ;
--link-bgColor: $(link.bgColor) ;

--icon-color: $(icon.color) ;
--icon-altColor: $(icon.colorAlt) ;
--icon-secColor: $(icon.colorSec) ;

--header-text: $(header.text) ;
--header-textAlt: $(header.textAlt) ;
--header-bgColor: $(header.bgColor) ;
--header-bgSearch: $(header.bgSearch) ;
--header-borderColor: $(header.borderColor) ;
--header-icon: $(header.icon) ;
--header-iconAlt: $(header.iconAlt) ;
--header-height: $(header.height) ;

--post-maxContent: $(post.maxContent) ;
--page-maxContent: $(page.maxContent) ;
--post-fontSize: $(post.fontSize) ;

--content-bg: $(content.bg) ;

--nav-text: $(nav.text) ;
--nav-textAlt: $(nav.textAlt) ;
--nav-bg: $(nav.bg) ;

--nav-mobileBg: $(nav.mobileBg) ;
--nav-mobileBorder: $(nav.mobileBorder) ;

--foot-text: $(foot.text) ;
--foot-textAlt: $(foot.textAlt) ;
--foot-bg: $(foot.bg) ;
--foot-icon: $(foot.icon) ;

--font-head: Lato, sans-serif ;
--font-body: 'Lato', sans-serif ;
--font-code: 'Fira Mono', monospace ;

--item-titleSize: 1.3rem ;

--transition-1: all .1s ease ;
--transition-2: all .2s ease ;
--transition-4: all .4s ease ;

--highlight-bg: #f6f6f6 ;
--highlight-color: #2f3337 ;
--highlight-orange: #b75501 ;
--highlight-blue: #015692 ;
--highlight-green: #54790d ;
--highlight-red: #f15a5a ;
--highlight-comment: #656e77 ;

--dark-text: $(dark.text) ;
--dark-textAlt: $(dark.textAlt) ;
--dark-link: $(dark.link) ;
--dark-bg: $(dark.bg) ;
--dark-bgAlt: $(dark.bgAlt) ;
--dark-bgSec: $(dark.bgSec) ;
}

/* Font Body */
@font-face {font-family: 'Lato';font-style: italic;font-weight: 400;font-display: swap;src: url(https://fonts.gstatic.com/s/lato/v20/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face {font-family: 'Lato';font-style: italic;font-weight: 700;font-display: swap;src: url(https://fonts.gstatic.com/s/lato/v20/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face {font-family: 'Lato';font-style: normal;font-weight: 400;font-display: swap;src: url(https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face {font-family: 'Lato';font-style: normal;font-weight: 700;font-display: swap;src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

/* Source Code Font */
@font-face {font-family: 'Fira Mono';font-style: normal;font-weight: 400;font-display: swap;src: url(https://fonts.gstatic.com/s/firamono/v9/N0bX2SlFPv1weGeLZDtQIg.woff) format('woff'), url(https://fonts.gstatic.com/s/firamono/v9/N0bX2SlFPv1weGeLZDtgJv7S.woff2) format('woff2')}
